@{
  Layout = "_Layout";
}

@model EauClaire.Models.Client

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.ClientName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.ClientName)
    @Html.EditorFor(model => model.ClientName)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistName")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>